* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    font-family: Arial, sans-serif;
    background: url('bindi edited.jpg') no-repeat center center fixed;
    background-size: cover; 
}

header {
    padding: 20px;
    text-align: center;
}

header h1 {
    color: brown;
    margin-bottom: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #888;
    font-weight: bold;
}

nav ul li a:hover {
    color: #ff4500;
}

main {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.product-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    padding: 20px;
}

.product-card img {
    max-width: 100%;
    height: auto;
}

.product-card h2 {
    font-size: 20px;
    color: brown;
    margin: 10px 0;
}

.product-card p {
    font-size: 18px;
    color: #333;
}

.product-card button {
    background-color: brown;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.product-card button:hover {
    background-color: #ff4500;
}
